.container{
    background-color: white;
    width: 500px;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
}

.container h1{
    margin-bottom: 2rem;
}

.formGroup{
    background-color: #F3F4F6;
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 0.5rem; */
    width: 50%;
}

.login{
    display: flex;
    background-color: white;
    margin-top: 1rem;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.error{
    position: fixed;
    background-color: #EF4444;
    padding: 1rem;
    top: 0;
    width: 500px;
}